<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Istanbul-based Versatile Engineer Who Gets Things Done For You | Metoinside.com</title>

        <meta property="og:url"                content="http://metoinside.com/" />
        <meta property="og:type"               content="profile" />
        <meta property="og:title"              content="Do You Need A Hand In Turkey?" />
        <meta property="og:description"        content="Hey! My name is Metin and I am a Istanbul-based Versatile Engineer Who Gets Things(branch establishment, dev-ops, marketing, PR etc.) Done For You | Metoinside.com" />
        <meta property="og:image"              content="../img/og.png" />

        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 profile text-center">
                        <img class="rounded-circle center-block" src="assets/img/profile.jpg" width="300" height="300">
                    </div>
                    <div class="col-sm-6 brief">
                        <h1>Metin AKIN</h1>
                        <h3>Versatile engineer who can</h3>
                        <h3 data-target-resolver></h3>
                    </div>
                </div>
                <div class="clear-fix"></div>
                <div class="row">
                    <div class="col-sm-12 text-center icon-group">
                        <a class="icon" href="https://www.facebook.com/metoinside" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a class="icon"  href="https://twitter.com/metoinside" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
                        <a class="icon"  href="https://www.linkedin.com/in/metoinside" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
                        <a class="icon"  href="https://github.com/metoinside/" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
                        <a class="icon"  href="https://medium.com/@metoinside" target="_blank"><i class="fa fa-medium fa-3x"></i></a>
                        <a class="icon"  href="mailto:hey@metoinside.com" target="_blank"><i class="fa fa-envelope fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </header>

        <section class="about bg-primary text-center" id="particles-js">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hopdedik">
                        <h2 style="color:white;">Let's talk how I can help you to grow <your></your> business, particularly in Turkey.</h2>
                            <p><a href="https://drive.google.com/file/d/1R6uxYaxcDxQ78lySnXFAN8xiz7Je74ZC/view?usp=sharing" target="_blank">Click to see my resume!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials"></section>
        <section class="services"></section>
        <section class="contact"></section>
        
        <footer>
            <div class="container">
                <p>&copy; 2018 Metin Akın | <a href="http://github.com/metoinside/WhoAmI" target="_blank">Handmade</a> in IST</p>
            </div>
        </footer>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/particles.js"></script>
        <script src="assets/js/custom.js"></script>
        <script src="assets/js/animated-text.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
